{% extends "bballModel/base.html" %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <div class="row headers">
        <div class="col-6">
            <h2 class="sectionHead" id="createModelTag" onclick="toCreateModel()" style="text-decoration: underline;">Create Model</h2>
        </div>
        <div class="col-6 text-left">
            <h2 class="sectionHead" id="viewResultsTag" style="background-color: grey;" onclick="toViewResults()" style="text-decoration: none; cursor: pointer;">View Results</h2>
        </div>
    </div>

    <div id="createModelDiv">
        <div class="row">
            <div class="col-6 text-left">

                <button onclick="resetUI()" class="btn btn-primary modelBtns"> Reset
                    <i class="fas fa-redo"></i>
                </button>

            </div>
            <div class="col-6 text-right">

                <button onclick="calculate()" class="btn btn-success modelBtns"> Calculate
                    <i class="fas fa-calculator"></i>
                </button>

            </div>
        </div>
    
        <br>
        
        <div class="row">
            <div class="col-lg-4">
                <h2>Seasonal Stats</h2>
    
                <div class="range-slider">
    
                    <h5>Strength of Schedule (SOS)</h5>
                    
                    <input id="testInput" class="range-slider__range" type="range" value="0" min="0" max="100">
                    <span class="range-slider__value">0</span>
    
                    <div class="tooltip">?
                        <span class="tooltiptext">A rating of strength of schedule. The rating is denominated in points above/below average, where zero is average</span>
                    </div>
                    
                  </div>
                  
                <div class="range-slider">
                    
                    <h5>Rating Percentage Index (RPI)</h5>
                    <input class="range-slider__range" type="range" value="0" min="0" max="100">
                    <span class="range-slider__value">0</span>
    
                    <div class="tooltip">?
                        <span class="tooltiptext">A quantity used to rank sports teams based upon a team's wins and losses and its strength of schedule. It is one of the sports rating systems by which NCAA basketball teams are ranked</span>
                    </div>
                </div>
    
                <div class="range-slider">
                    <h5>Pythagorean Win Percentage</h5>
                    <input class="range-slider__range" type="range" value="0" min="0" max="100">
                    <span class="range-slider__value">0</span>
    
                    <div class="tooltip">?
                        <span class="tooltiptext">An estimate of what a team's winning percentage "should" be based on points scored and points allowed. Formula is: Games * (Points / (Points + Opponent Points))</span>
                    </div>
                </div>
    
                <div class="range-slider">
                    <h5>Last 10 Games Win Percentage</h5>
                    <input class="range-slider__range" type="range" value="0" min="0" max="100">
                    <span class="range-slider__value">0</span>
    
                    <div class="tooltip">?
                        <span class="tooltiptext">A team's winning percentage over the last 10 games</span>
                    </div>
                </div>
    
                <div class="range-slider">
                    <h5>Top 25 Win Percentage</h5>
                    <input class="range-slider__range" type="range" value="0" min="0" max="100">
                    <span class="range-slider__value">0</span>
    
                    <div class="tooltip">?
                        <span class="tooltiptext">A team's winning percentage against top 25 opponents</span>
                    </div>
                </div>
    
                <div class="range-slider">
                    <h5>Non-Conference Win Percentage</h5>
                    <input class="range-slider__range" type="range" value="0" min="0" max="100">
                    <span class="range-slider__value">0</span>
    
                    <div class="tooltip">?
                        <span class="tooltiptext">A team's winning percentage against non-conference opponents</span>
                    </div>
                </div>
    
                <div class="range-slider">
                    <h5>Win Percentage</h5>
                    <input class="range-slider__range" type="range" value="0" min="0" max="100">
                    <span class="range-slider__value">0</span>
    
                    <div class="tooltip">?
                        <span class="tooltiptext">A team's overall win percentage against all opponents</span>
                    </div>
                </div>
    
                <div class="range-slider">
                    <h5>Adjusted Win Percentage</h5>
                    <input class="range-slider__range" type="range" value="0" min="0" max="100">
                    <span class="range-slider__value">0</span>
    
                    <div class="tooltip">?
                        <span class="tooltiptext">Weighted value based on location and result. Road Win: +1.4, Neutral Win: +1.0, Home Win: +0.6, Road Loss: -0.6, Neutral Loss: -1.0, Home Loss: -1.4</span>
                    </div>
                </div>
    
                <div class="range-slider">
                    <h5>Away Win Percentage</h5>
                    <input class="range-slider__range" type="range" value="0" min="0" max="100">
                    <span class="range-slider__value">0</span>
    
                    <div class="tooltip">?
                        <span class="tooltiptext">A team's win percentage in road games</span>
                    </div>
                </div>
    
                <div class="range-slider">
                    <h5>Opponent Win Percentage</h5>
                    <input class="range-slider__range" type="range" value="0" min="0" max="100">
                    <span class="range-slider__value">0</span>
    
                    <div class="tooltip">?
                        <span class="tooltiptext">The total win percentage of all teams a team has played</span>
                    </div>
                </div>
    
                <div class="range-slider">
                    <h5>Opponent's Opponents Win %</h5>
                    <input class="range-slider__range" type="range" value="0" min="0" max="100">
                    <span class="range-slider__value">0</span>
    
                    <div class="tooltip">?
                        <span class="tooltiptext">The total win percentage of all opponents of a team's opponents</span>
                    </div>
                </div>
    
            </div>
            <div class="col-lg-4">
                <h2>Advanced Stats</h2>
    
                <div class="range-slider">
                    <h5>Pace Factor (PACE)</h5>
                    <input class="range-slider__range" type="range" value="0" min="0" max="100">
                    <span class="range-slider__value">0</span>
    
                    <div class="tooltip">?
                        <span class="tooltiptext">An estimate of the number of possessions per team per 40 minutes. Formula is: 40 * (POSS / (0.2 * Minutes Played))</span>
                    </div>
                </div>
    
                <div class="range-slider">
                    <h5>True Shooting % (TS)</h5>
                    <input class="range-slider__range" type="range" value="0" min="0" max="100">
                    <span class="range-slider__value">0</span>
    
                    <div class="tooltip">?
                        <span class="tooltiptext">Measure of Shooting Efficiency that takes into account field goals, 3-point field goals and free throwss. Formula is: Points / (2 * (Field Goal Atttempts + 0.475 * Free Throw Attempts))</span>
                    </div>
                </div>
    
                <div class="range-slider">
                    <h5>Effective Field Goal % (eFG)</h5>
                    <input class="range-slider__range" type="range" value="0" min="0" max="100">
                    <span class="range-slider__value">0</span>
    
                    <div class="tooltip">?
                        <span class="tooltiptext">Measure of shooting efficiency adjusted for the fact that a 3-point field goal is worth one more point than a 2-point field goal. Formula is: (Field Goal + 0.5 * 3-Pointers) / Field Goal Attempts</span>
                    </div>
                </div>
    
                <div class="range-slider">
                    <h5>Offensive Rating (ORtg)</h5>
                    <input class="range-slider__range" type="range" value="0" min="0" max="100">
                    <span class="range-slider__value">0</span>
    
                    <div class="tooltip">?
                        <span class="tooltiptext">Points Scored Per 100 Possessions. Formula is: 100 * (Points / Possessions)</span>
                    </div>
                </div>
    
                <div class="range-slider">
                    <h5>Defensive Rating (DRtg)</h5>
                    <input class="range-slider__range" type="range" value="0" min="0" max="100">
                    <span class="range-slider__value">0</span>
    
                    <div class="tooltip">?
                        <span class="tooltiptext">Points Allowed Per 100 Possessions. Formula is: 100 * (Opponent Points / Possessions)</span>
                    </div>
                </div>
    
                <div class="range-slider">
                    <h5>Net Rating (NRtg)</h5>
                    <input class="range-slider__range" type="range" value="0" min="0" max="100">
                    <span class="range-slider__value">0</span>
    
                    <div class="tooltip">?
                        <span class="tooltiptext">Point Differential Per 100 Possessions. Formula is: 100 * ((Points - Opponent Points) / Possessions)</span>
                    </div>
                </div>
    
                <div class="range-slider">
                    <h5>Free Throw Rate (FTr)</h5>
                    <input class="range-slider__range" type="range" value="0" min="0" max="100">
                    <span class="range-slider__value">0</span>
    
                    <div class="tooltip">?
                        <span class="tooltiptext">A measure of percentage of shots taken are free throws. Formula is: Free Throw Attempts / Field Goal Attempts</span>
                    </div>
                </div>
    
                <div class="range-slider">
                    <h5>Turnover Rate (TOVr)</h5>
                    <input class="range-slider__range" type="range" value="0" min="0" max="100">
                    <span class="range-slider__value">0</span>
    
                    <div class="tooltip">?
                        <span class="tooltiptext">Estimated Turnovers Per 100 Plays. Formula is: 100 * Turnovers / (Field Goal Attempts + 0.475 * Free Throw Attempts + Turnovers)</span>
                    </div>
                </div>
    
                <div class="range-slider">
                    <h5>Defensive Margin</h5>
                    <input class="range-slider__range" type="range" value="0" min="0" max="100">
                    <span class="range-slider__value">0</span>
    
                    <div class="tooltip">?
                        <span class="tooltiptext">Measure of defensive in comparison to offensive points scored. Formula is: Points Allowed / (Points Allowed + Points Scored)</span>
                    </div>
                </div>
    
                <div class="range-slider">
                    <h5>Offensive Rebound % (ORB)</h5>
                    <input class="range-slider__range" type="range" value="0" min="0" max="100">
                    <span class="range-slider__value">0</span>
    
                    <div class="tooltip">?
                        <span class="tooltiptext">Measure of a team's offensive rebounds in comparison to their opponents. Formula is: Offensive Rebounds / (Offensive Rebounds + Opponent's Offensive Rebounds)</span>
                    </div>
                </div>
    
                <div class="range-slider">
                    <h5>Effective Rebound % (ERB)</h5>
                    <input class="range-slider__range" type="range" value="0" min="0" max="100">
                    <span class="range-slider__value">0</span>
    
                    <div class="tooltip">?
                        <span class="tooltiptext">Measure of a team's total rebounds in comparison to their opponents. Formula is: Total Rebounds / (Total Rebounds + Opponent Total Rebounds)</span>
                    </div>
                </div>
    
                <div class="range-slider">
                    <h5>Block Percentage</h5>
                    <input class="range-slider__range" type="range" value="0" min="0" max="100">
                    <span class="range-slider__value">0</span>
    
                    <div class="tooltip">?
                        <span class="tooltiptext">Percentage of all opponent field goal attempts are blocked</span>
                    </div>
                </div>
    
            </div>
            <div class="col-lg-4">
    
                <h2>Games Averages</h2>
    
                <div class="range-slider">
                    <h5>Average Points Scored</h5>
                    <input class="range-slider__range" type="range" value="0" min="0" max="100">
                    <span class="range-slider__value">0</span>
    
                    <div class="tooltip">?
                        <span class="tooltiptext">A team's average points scored per game</span>
                    </div>
                </div>
    
                <div class="range-slider">
                    <h5>Average Points Allowed</h5>
                    <input class="range-slider__range" type="range" value="0" min="0" max="100">
                    <span class="range-slider__value">0</span>
    
                    <div class="tooltip">?
                        <span class="tooltiptext">A team's average points allowed per game</span>
                    </div>
                </div>
    
                <div class="range-slider">
                    <h5>Average Point Differential</h5>
                    <input class="range-slider__range" type="range" value="0" min="0" max="100">
                    <span class="range-slider__value">0</span>
    
                    <div class="tooltip">?
                        <span class="tooltiptext">A team's average point differential per game</span>
                    </div>
                </div>
    
                <div class="range-slider">
                    <h5>Average Fast Break Points</h5>
                    <input class="range-slider__range" type="range" value="0" min="0" max="100">
                    <span class="range-slider__value">0</span>
    
                    <div class="tooltip">?
                        <span class="tooltiptext">A team's average fast break points per game</span>
                    </div>
                </div>
    
                <div class="range-slider">
                    <h5>Average Second Chance Points</h5>
                    <input class="range-slider__range" type="range" value="0" min="0" max="100">
                    <span class="range-slider__value">0</span>
    
                    <div class="tooltip">?
                        <span class="tooltiptext">A team's average second game points per game</span>
                    </div>
                </div>
    
                <div class="range-slider">
                    <h5>Average Points in Paint</h5>
                    <input class="range-slider__range" type="range" value="0" min="0" max="100">
                    <span class="range-slider__value">0</span>
    
                    <div class="tooltip">?
                        <span class="tooltiptext">A team's average points scored in the paint</span>
                    </div>
                </div>
    
                <div class="range-slider">
                    <h5>3-Point Percentage</h5>
                    <input class="range-slider__range" type="range" value="0" min="0" max="100">
                    <span class="range-slider__value">0</span>
    
                    <div class="tooltip">?
                        <span class="tooltiptext">A team's 3-point make percentage</span>
                    </div>
                </div>
    
                <div class="range-slider">
                    <h5>Free Throw Percentage</h5>
                    <input class="range-slider__range" type="range" value="0" min="0" max="100">
                    <span class="range-slider__value">0</span>
    
                    <div class="tooltip">?
                        <span class="tooltiptext">A team's free throw make percentage</span>
                    </div>
                </div>
    
                <div class="range-slider">
                    <h5>Field Goal Percentage</h5>
                    <input class="range-slider__range" type="range" value="0" min="0" max="100">
                    <span class="range-slider__value">0</span>
    
                    <div class="tooltip">?
                        <span class="tooltiptext">A team's shot make percentage from the field</span>
                    </div>
                </div>
    
                <div class="range-slider">
                    <h5>Average Assists</h5>
                    <input class="range-slider__range" type="range" value="0" min="0" max="100">
                    <span class="range-slider__value">0</span>
    
                    <div class="tooltip">?
                        <span class="tooltiptext">A team's average assists per game</span>
                    </div>
                </div>
    
                <div class="range-slider">
                    <h5>Average Steals</h5>
                    <input class="range-slider__range" type="range" value="0" min="0" max="100">
                    <span class="range-slider__value">0</span>
    
                    <div class="tooltip">?
                        <span class="tooltiptext">A team's average steals per game</span>
                    </div>
                </div>
    
                <div class="range-slider">
                    <h5>Average Turnovers</h5>
                    <input class="range-slider__range" type="range" value="0" min="0" max="100">
                    <span class="range-slider__value">0</span>
    
                    <div class="tooltip">?
                        <span class="tooltiptext">A team's average turnovers per game</span>
                    </div>
                </div>
    
                <div class="range-slider">
                    <h5>Average Blocks</h5>
                    <input class="range-slider__range" type="range" value="0" min="0" max="100">
                    <span class="range-slider__value">0</span>
    
                    <div class="tooltip">?
                        <span class="tooltiptext">A team's average blocks per game</span>
                    </div>
                </div>
    
                <div class="range-slider">
                    <h5>Average Offensive Rebounds</h5>
                    <input class="range-slider__range" type="range" value="0" min="0" max="100">
                    <span class="range-slider__value">0</span>
    
                    <div class="tooltip">?
                        <span class="tooltiptext">A team's average offensive rebounds per game</span>
                    </div>
                </div>
    
    
            </div>
        </div>
    </div>

    <div id="viewResultsDiv" style="display:none;">
        <div class="row">
            <div class="col">
                <header class="hero">
                    <div class="hero-wrap">
                     <p class="intro" id="intro">NCAA</p>
                         <h1 id="headline">March Madness</h1>
                         <p class="year"><i class="fa fa-star"></i> 2020 <i class="fa fa-star"></i></p>
                     <p>Custom Model</p>
                   </div>
                    </header>
                <h1 id="championName">Champion: </h1>
                    <section id="bracket">
                    <div class="container bracketContainer">
                    <div class="split split-one">
                        <div class="round round-one current">
                            <div class="round-details">Round of 64<br/><span class="date">March 16</span></div>
                            <ul class="matchup">
                                <li class="team team-top"><span class="score"></span></li>
                                <li class="team team-bottom"><span class="score"></span></li>
                            </ul>
                            <ul class="matchup">
                                <li class="team team-top"><span class="score"></span></li>
                                <li class="team team-bottom"><span class="score"></span></li>
                            </ul>
                            <ul class="matchup">
                                <li class="team team-top"><span class="score"></span></li>
                                <li class="team team-bottom"><span class="score"></span></li>
                            </ul>
                            <ul class="matchup">
                                <li class="team team-top"><span class="score"></span></li>
                                <li class="team team-bottom"><span class="score"></span></li>
                            </ul>           
                            <ul class="matchup">
                                <li class="team team-top"><span class="score"></span></li>
                                <li class="team team-bottom"><span class="score"></span></li>
                            </ul>   
                            <ul class="matchup">
                                <li class="team team-top"><span class="score"></span></li>
                                <li class="team team-bottom"><span class="score"></span></li>
                            </ul>   
                            <ul class="matchup">
                                <li class="team team-top"><span class="score"></span></li>
                                <li class="team team-bottom"><span class="score"></span></li>
                            </ul>
                            <ul class="matchup">
                                <li class="team team-top"><span class="score"></span></li>
                                <li class="team team-bottom"><span class="score"></span></li>
                            </ul> 
                            <ul class="matchup">
                                <li class="team team-top"><span class="score"></span></li>
                                <li class="team team-bottom"><span class="score"></span></li>
                            </ul>
                            <ul class="matchup">
                                <li class="team team-top"><span class="score"></span></li>
                                <li class="team team-bottom"><span class="score"></span></li>
                            </ul>
                            <ul class="matchup">
                                <li class="team team-top"><span class="score"></span></li>
                                <li class="team team-bottom"><span class="score"></span></li>
                            </ul>           
                            <ul class="matchup">
                                <li class="team team-top"><span class="score"></span></li>
                                <li class="team team-bottom"><span class="score"></span></li>
                            </ul>   
                            <ul class="matchup">
                                <li class="team team-top"><span class="score"></span></li>
                                <li class="team team-bottom"><span class="score"></span></li>
                            </ul>   
                            <ul class="matchup">
                                <li class="team team-top"><span class="score"></span></li>
                                <li class="team team-bottom"><span class="score"></span></li>
                            </ul>
                            <ul class="matchup">
                                <li class="team team-top"><span class="score"></span></li>
                                <li class="team team-bottom"><span class="score"></span></li>
                            </ul> 
                            <ul class="matchup">
                                <li class="team team-top"><span class="score"></span></li>
                                <li class="team team-bottom"><span class="score"></span></li>
                            </ul>                                        
                        </div>  <!-- END ROUND ONE -->
                
                        <div class="round round-two current">
                            <div class="round-details">Round of 32<br/><span class="date">March 18</span></div>         
                            <ul class="matchup round2Top">
                                <li class="team team-top"><span class="score">&nbsp;</span></li>
                                <li class="team team-bottom"><span class="score">&nbsp;</span></li>
                            </ul>   
                            <ul class="matchup">
                                <li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
                                <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
                            </ul>   
                            <ul class="matchup">
                                <li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
                                <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
                            </ul>
                            <ul class="matchup">
                                <li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
                                <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
                            </ul>
                            <ul class="matchup">
                                <li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
                                <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
                            </ul>   
                            <ul class="matchup">
                                <li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
                                <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
                            </ul>
                            <ul class="matchup">
                                <li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
                                <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
                            </ul>
                            <ul class="matchup">
                                <li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
                                <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
                            </ul>                                                            
                        </div>  <!-- END ROUND TWO -->
                        
                        <div class="round round-three current">
                            <div class="round-details">Sweet 16<br/><span class="date">March 22</span></div>         
                            <ul class="matchup round3Top">
                                <li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
                                <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
                            </ul>   
                            <ul class="matchup">
                                <li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
                                <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
                            </ul>
                            <ul class="matchup">
                                <li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
                                <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
                            </ul> 
                            <ul class="matchup">
                                <li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
                                <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
                            </ul> 
                            
                        </div>  <!-- END ROUND THREE -->
                        
                        <div class="round round-four current">
                            <div class="round-details">Elite 8<br/><span class="date">March 22</span></div>         
                            <ul class="matchup round4Top">
                                <li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
                                <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
                            </ul>   
                            <ul class="matchup">
                                <li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
                                <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
                            </ul>
                            
                            
                            
                        </div>  <!-- END ROUND FOUR --> 
                        
                        <div class="round round-five current">
                            <div class="round-details">Final Four<br/><span class="date">March 22</span></div>         
                            <ul class="matchup round5Top">
                                <li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
                                <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
                            </ul>   
                            
                        </div>  <!-- END ROUND FOUR -->   
  
                    </div> 
                
                <div class="champion">
                        
                        <div class="final current">
                            <i class="fa fa-trophy"></i>
                            <div class="round-details">Championship <br/><span class="date">March 30 - Apr. 1</span></div>      
                            <ul class ="matchup" id="championshipTeams">
                                <li class="team team-top" id="finals1">&nbsp;<span class="vote-count">&nbsp;</span></li>
                                <li class="team team-bottom" id="finals2">&nbsp;<span class="vote-count">&nbsp;</span></li>
                            </ul>
                        </div>
                        
                    </div>
                
                
                    <div class="split split-two">

                        <div class="round round-five current">
                            <div class="round-details">Final Four<br/><span class="date">March 22</span></div>         
                            <ul class="matchup round5Top">
                                <li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
                                <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
                            </ul>   
                            
                        </div>

                        <!-- <div class="round round-six current">
                            <div class="round-details">Championship<br/><span class="date">March 22</span></div>         
                            <ul class="matchup round6Top">
                                <li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
                            </ul>   
                            
                        </div>  END ROUND SIX --> 

                        <!-- <div class="round round-five current">
                            <div class="round-details">Final 4<br/><span class="date">March 22</span></div>         
                            <ul class="matchup round5Top">
                                <li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
                                <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
                            </ul>   
                            
                        </div>  END ROUND FIVE    -->

                        <div class="round round-four current">
                            <div class="round-details">Elite 8<br/><span class="date">March 22</span></div>         
                            <ul class="matchup round4Top">
                                <li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
                                <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
                            </ul>   
                            <ul class="matchup">
                                <li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
                                <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
                            </ul>
                            
                            
                            
                        </div>  <!-- END ROUND FOUR -->   
                
                        <div class="round round-three current">
                            <div class="round-details">Sweet 16<br/><span class="date">March 22</span></div>                     
                            <ul class="matchup round3Top">
                                <li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
                                <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
                            </ul>   
                            <ul class="matchup">
                                <li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
                                <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
                            </ul>
                            <ul class="matchup">
                                <li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
                                <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
                            </ul> 
                            <ul class="matchup">
                                <li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
                                <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
                            </ul> 
                                                                 
                        </div>  <!-- END ROUND THREE -->    
                
                        <div class="round round-two current">
                            <div class="round-details">Round of 32<br/><span class="date">March 18</span></div>                     
                            <ul class="matchup round2Top">
                                <li class="team team-top"><span class="score">&nbsp;</span></li>
                                <li class="team team-bottom"><span class="score">&nbsp;</span></li>
                            </ul>   
                            <ul class="matchup">
                                <li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
                                <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
                            </ul>   
                            <ul class="matchup">
                                <li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
                                <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
                            </ul>
                            <ul class="matchup">
                                <li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
                                <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
                            </ul>
                            <ul class="matchup">
                                <li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
                                <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
                            </ul>   
                            <ul class="matchup">
                                <li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
                                <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
                            </ul>
                            <ul class="matchup">
                                <li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
                                <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
                            </ul>
                            <ul class="matchup">
                                <li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
                                <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
                            </ul>                                         
                        </div>  <!-- END ROUND TWO -->
                        <div class="round round-one current">
                            <div class="round-details">Round of 64<br/><span class="date">March 16</span></div>
                            <ul class="matchup">
                                <li class="team team-top"><span class="score"></span></li>
                                <li class="team team-bottom"><span class="score"></span></li>
                            </ul>
                            <ul class="matchup">
                                <li class="team team-top"><span class="score"></span></li>
                                <li class="team team-bottom"><span class="score"></span></li>
                            </ul>
                            <ul class="matchup">
                                <li class="team team-top"><span class="score"></span></li>
                                <li class="team team-bottom"><span class="score"></span></li>
                            </ul>
                            <ul class="matchup">
                                <li class="team team-top"><span class="score"></span></li>
                                <li class="team team-bottom"><span class="score"></span></li>
                            </ul>           
                            <ul class="matchup">
                                <li class="team team-top"><span class="score"></span></li>
                                <li class="team team-bottom"><span class="score"></span></li>
                            </ul>   
                            <ul class="matchup">
                                <li class="team team-top"><span class="score"></span></li>
                                <li class="team team-bottom"><span class="score"></span></li>
                            </ul>   
                            <ul class="matchup">
                                <li class="team team-top"><span class="score"></span></li>
                                <li class="team team-bottom"><span class="score"></span></li>
                            </ul>
                            <ul class="matchup">
                                <li class="team team-top"><span class="score"></span></li>
                                <li class="team team-bottom"><span class="score"></span></li>
                            </ul> 
                            <ul class="matchup">
                                <li class="team team-top"><span class="score"></span></li>
                                <li class="team team-bottom"><span class="score"></span></li>
                            </ul>
                            <ul class="matchup">
                                <li class="team team-top"><span class="score"></span></li>
                                <li class="team team-bottom"><span class="score"></span></li>
                            </ul>
                            <ul class="matchup">
                                <li class="team team-top"><span class="score"></span></li>
                                <li class="team team-bottom"><span class="score"></span></li>
                            </ul>           
                            <ul class="matchup">
                                <li class="team team-top"><span class="score"></span></li>
                                <li class="team team-bottom"><span class="score"></span></li>
                            </ul>   
                            <ul class="matchup">
                                <li class="team team-top"><span class="score"></span></li>
                                <li class="team team-bottom"><span class="score"></span></li>
                            </ul>   
                            <ul class="matchup">
                                <li class="team team-top"><span class="score"></span></li>
                                <li class="team team-bottom"><span class="score"></span></li>
                            </ul>
                            <ul class="matchup">
                                <li class="team team-top"><span class="score"></span></li>
                                <li class="team team-bottom"><span class="score"></span></li>
                            </ul> 
                            <ul class="matchup">
                                <li class="team team-top"><span class="score"></span></li>
                                <li class="team team-bottom"><span class="score"></span></li>
                            </ul>                                              
                        </div>  <!-- END ROUND ONE -->                          
                    </div>
                    </div>
                    </section>

            </div>
        </div>
    </div>

    
</div>

{% endblock content %}